.garden {
  position: relative;
  width : 200px;
  height: 200px;
  border: 5px solid #CCC;
  border-radius: 10px;
}

.ball {
  border-radius: 15%;
  width : 20px;
  height: 20px;
}

.indicator {
  position: absolute;
  top   : 90px;
  left  : 90px;
  background-image: linear-gradient(#ff3ba7, #3d88ff);
  transform: rotate(180deg);
}
